<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">ユーザー一覧</h1>

    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-right">
　　　　　　<!-- 下記のコードでユーザーを表示させています。 -->
          <%= link_to(current_user.name, "/users/#{user.id}") %>
        </div>
      </div>
      <% end %>

  </div>
</div>