<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Thanks for submit, <%= @blog.user.name %>!</h1>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>



# <h1>お問い合わせが完了しました！</h1>
# <h4>name: <%= @contact.name %></h4>
# <h4>お問い合わせ内容の確認</h4>
# <p>content: <%= @contact.content %></p>