/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 .wrapper {
   max-width: 70%;
   margin: auto;
 }
* { 
  margin: 0px; 
  padding: 0px; 
}


html {
  position: relative;
  height: 100%;
  width: 100%;
}

 header {
  background-color: #3B5998;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}

header ul {
  margin: 0;
  padding: 0;
}

header li  {
  display: block;
  font-size: 2rem;
  padding: 15px;
  color: white;
  list-style: none;
  float:left;
}


body {
  height: 100%; 
  background-color: #f0f0f0;
  width: 100%;
}

.heading {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  width: 100%;
  background-color:#3B5998;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 14px;
  position: absolute;
  text-align: center;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.subject{
  color: #3B5998;
  font-size: 16px;
  text-align: center;
}

.btn {
  margin-top: 30px;
  display: inline-block;
  /* background-color: #3B5998; */
  padding: 0.3em 1em;
  text-decoration: none;
  color: #3B5998;
  border: solid 2px #3B5998;
  border-radius: 3px;
  transition: .4s;
}